/*
*****
** General variables
*****
*/

:root {
  /*--logoSite: url("/assets/images/touch/logo-white.svg") no-repeat;*/
  --logoSite: url("/assets/images/touch/preview-48.png") no-repeat;
  --header-height: 70px;
  --footer-height: 50px;
  --sidenav-width-px: 270px;
  --header-color: rgb(0,118,200);
}

/* Custom media doesn NOT accept variables in the rules */
@custom-media --tablet (width >= 600px);
@custom-media --desktop (width >= 960px);
@custom-media --large-desktop (width >= 1280px);
@custom-media --bigger-than-large-desktop (width >= 1920px);

@custom-media --small-mobile-only (width < 480px);
@custom-media --mobile-only (width >= 480px) and (width < 600px);
@custom-media --tablet-only (width >= 600px) and (width < 960px);
@custom-media --desktop-only (width >= 960px) and (width < 1280px);

:root {
  --black: #000;
  --gray: #C0C0C0;
  --fontColorDefault: rgba(0, 0, 0, 0.8);
  --textSelectionColor: var(--gray);

  /* Elements colours */
  --sidenav-background: #eee;
}