<div class="page-content creations">
    <div flex layout="row" layout-wrap>
        <h1 class="creations-header md-display-1" md-colors="{color:'primary'}" flex="100" translate>CREATIONS.CREATION_DETAILS</h1>
        <div layout="row" layout-xs="column" flex="100">
            <div flex="40" flex-sm="50" flex-xs="100">
                <img ng-if="vm.creation.images != false" ng-src="/uploads/{{vm.currentImage.serverFileName}}" alt="{{vm.currentImage.fileName}}"/>
                <md-divider></md-divider>
                <md-content flex="100">
                    <img ng-if="vm.product.images != false"
                         ng-repeat="image in vm.creation.images track by $index"
                         ng-src="/uploads/{{image.serverFileName}}"
                         alt="{{image.fileName}}"
                         ng-click="vm.changeImage($index)"
                         flex="20">
                </md-content>
            </div>
            <div flex="10" flex-sm="0" flex-xs="0"></div>
            <div flex="40" flex-sm="50" flex-xs="100">
                <md-card flex="100">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" translate>COMMONS.INFORMATION</span>
                            <span class="md-subhead">
                                <strong translate>COMMONS.NAME</strong> : {{vm.creation.name}}
                                <br/>
                                <strong translate>COMMONS.DESCRIPTION</strong> : {{vm.creation.longDescription}}
                                <br/>
                                <strong translate>CREATIONS.CREATION_TYPE</strong> :
                                <span ng-show="vm.creation" translate="CREATIONS.TYPES.{{vm.creation.creationType}}"></span>
                                <br/>
                                <strong translate>CREATIONS.CREATION_DATE</strong> : {{vm.creation.dateAdded}}

                                <md-chips ng-model="vm.product.creationType" readonly="true" md-removable="false"></md-chips>
                            </span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
                <md-card flex="100">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" translate>ARTISTS.ARTIST</span>
                            <span class="md-subhead">
                                <strong translate>COMMONS.NAME</strong>{{vm.creation.author}}
                                <br/>
                                <strong translate>COMMONS.NAME</strong>{{vm.creation.author}}
                            </span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-lg card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button><span translate>ARTISTS.SEE_THE_ARTIST</span></md-button>
                        <md-button><span translate>COMMONS.CONTACT</span></md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </div>
</div>
