<div>
    <div flex layout="row" layout-wrap>
        <md-content>
            <h1 class="creations-header md-display-1" md-colors="{color:'primary'}">Créations récentes</h1>
            <p>Bordel de caca</p>
        </md-content>
    </div>
    <div flex layout="row" layout-wrap>
        <md-card flex="20" flex-sm="33" flex-xs="100">
            <!--<md-card ng-repeat="product in vm.productsListConfig.products">-->
            <md-card-header>
                <img ng-if="vm.product.images != false" ng-src="http://localhost:8083/uploads/{{vm.product.images[0].serverFileName}}" class="md-card-image" alt="Washed Out"/>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{vm.product.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h3>Auteur : {{vm.product.author}}</h3>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ui-state="'productDetails'" ui-state-params="({productId: '{{vm.product.id}}'})" translate="PRODUCTS.SEE_THE_PRODUCT"></md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
