<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button id="app-header-toggle-side-nav-menu" hide show-xs show-sm aria-label="Menu"
                   class="hamburger"
                   ng-click="vm.toggleSidenav()">
            <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
        </md-button>

        <a ui-sref="{{vm.homeState}}" href="#" class="logo">
            <span class="logo-image">{{vm.siteTitle}}</span>
        </a>

        <a ui-sref="{{vm.homeState}}"><div class="md-title">{{vm.siteTitle}}</div></a>
    </div>
</md-toolbar>