virtual-gallery-app-footer {
	display: block;
	

	& footer {
		background-color : grey;
  		width: 100%;
  		height: var(--footer-height);
		text-align: center;
		vertical-align: middle;
		
	  	font-weight: 700;
  		/*height: 50px;*/
  		/*margin-top: -50px;*/
  		bottom: 0;
  		/*left:0;*/
  		position: relative;
  		clear: both;
  		/*margin-top: -3em;*/

	}
  
}
