<md-content class="md-padding" layout-xs="column" layout="row" flex>
    <div flex="100" layout="row" layout-wrap>
        <md-card ng-repeat="creation in vm.creationsListConfig.creations" flex-gt-md="20" flex-md="30" flex-sm="45" flex-xs="100">
        <!--<md-card ng-repeat="product in vm.productsListConfig.products">-->
            <md-card-header>
                <img ng-if="creation.image != false" ng-src="/uploads/{{creation.image.serverFileName}}" class="md-card-image" alt="Washed Out"/>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{creation.name}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <h3>Auteur : {{creation.author}}</h3>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ui-state="'creationDetails'" ui-state-params="({creationId: '{{creation.id}}'})" translate="CREATIONS.SEE_THE_CREATION"></md-button>
                <md-button translate="ARTISTS.SEE_THE_ARTIST"></md-button>
            </md-card-actions>
        </md-card>
    </div>
</md-content>
